<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>webtelnet</title>
    <link rel="icon" href="/static/favicon.ico"/>
    <link rel="stylesheet" href="/static/xterm/xterm.css"/>
    <link rel="stylesheet" href="/static/xterm/style.css"/>
    <link rel="stylesheet" href="/static/bootstrap.min.css"/>
    {% from 'macros.html' import form_field %}
    <style>
        .input-width {
            width: 20%;
            display: inline-block;
        }

        .hide {
            display: none;
        }
    </style>

	<script>
		function checkwindow() {
			event.returnValue=false;
		}
	</script>

</head>
<!--body onbeforeunload="checkwindow()"-->
<body>

<div style="margin-top: 10px" id="form">
    <form method="post" class="form-horizontal">
        {{ form.csrf_token }}
        <div class="form-group">
            <div class="col-sm-10">
                {{ form_field(form.ip, class='input-width form-control') }}
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-10">
                {{ form_field(form.port, class='input-width form-control') }}
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-10">
                {{ form_field(form.username, class='input-width form-control') }}
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-10">
                {{ form_field(form.password, class='input-width form-control') }}
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                {{ form.submit(class='btn btn-secondary') }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-10">
                {{ form_field(form.inputcommand, class='input-width form-control') }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                {{ form.submit1(class='btn btn-secondary') }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                {{ form.submit2(class='btn btn-secondary') }}
            </div>
        </div>
    </form>
</div>

<pre>{{ command_results }}</pre>


<div id="django-webtelnet-terminal" class="hide">
    <div id="terminal"></div>
</div>


<script src="/static/jquery.min.js"></script>
<script src="/static/xterm/xterm.js"></script>
<script src="/static/webtelnet.js"></script>

</body>
</html>